name: Test PowerShell on Ubuntu
run-name: ${{ github.actor }} is Testing PowerShell on Ubuntu
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install -g bats
      - run: bats -v
  
  pester-test:
    needs: check-bats-version
    name: Pester test
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: Install from PSGallery
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module SqlServer, PSScriptAnalyzer
      - name: Perform a Pester test from the command-line
        shell: pwsh
        run: Test-Path resultsfile.log | Should -Be $true
      - name: Lint with PSScriptAnalyzer
        shell: pwsh
        run: |
          Invoke-ScriptAnalyzer -Path '**/*.ps1' -Recurse -Outvariable issues
          $errors = $issues.Where({$_. Severity -eq 'Error'})
          $warnings = $issues.Where({$_. Severity -eq 'Warning'})

          if ($errors) {
            Write-Error "There were $($errors.Count) errors and $($warnings.Count) warnings total." -ErrorAction Stop
          } else {
            Write-Output "There were $($errors.Count) errors and $($warnings.Count) warnings total."
          }

      - name: Run hello.ps1 if no errors
        shell: pwsh
        if: ${{ success() }}
        run: ./Scripts/hello.ps1